{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Starts Edit Profile Section -->
<div class="edit-delete edit-photo">
    <h2>Edit Profile</h2>

    <!-- Start Edit Profile Form -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in user_form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.errors %}
                <span style="color: red;">{{ field.errors }}</span>
            {% endif %}
        </p>
    {% endfor %}

    {% for field in profile_form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.errors %}
                <span style="color: red;">{{ field.errors }}</span>
            {% endif %}
        </p>
    {% endfor %}

    <button type="submit">Хадгалах</button>
</form>
    <!-- End Edit Profile Form -->
</div>
<!-- End Edit Profile Section -->
{% endblock %}
