{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Starts Edit Profile Section -->
<div class="edit-delete">
    <h2>Edit Profile</h2>

    <!-- Start Edit Profile Form -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% if form.errors %}
            <div class="error-message" style="color:red;">
                Please fix the errors below.
            </div>
        {% endif %}

        {{ form.as_p }}

        <!-- Edit Profile Button -->
        <button class="edit-btn" type="submit">Edit</button>
    </form>
    <!-- End Edit Profile Form -->
</div>
<!-- End Edit Profile Section -->
{% endblock %}
