{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="edit-delete edit-photo">
        <h2>Delete Pet</h2>

            <!-- Start delete Pet Form -->
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="delete-btn" type="submit">Delete Pet</button>  
            <!-- Go back button -->
        <a class="btn btn-primary" href="javascript:history.back()">
            <button class='edit-btn' type="button">Go Back</button>
        </a>
        </form>
        
    </div>
{% endblock %}